{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>ショッピングカート</title>
		<link rel='stylesheet' type='text/css' href='{% static "ec_site/css/style.css" %}' />
	</head>
    <body>
        <h1>ショッピングカート内の商品一覧</h1><br>

        <table border="1">
            {% csrf_token %}
            <tr>
                <th>商品名</th>
                <th>商品の色</th>
                <th>メーカー名</th>
                <th>単価</th>
                <th>数量</th>
            </tr>
            {% for item in item_list %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.manufacturer}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.amount}}</td>
			        <td><a href="/ec_site/cartCorrect/{{item.item_id}}">修正</a></td>
                </tr>
            {% endfor %}
        </table>

        <h3>合計{{charge_total}}円</h3><br>

        <a href="/ec_site/">商品検索</a>へ<br><br>
    </body>